.aboutMe {
  box-shadow: 15px 0px 10px -10px rgba(22, 131, 151, 0.7);
  border: 1px solid rgba(22, 131, 151, 0.7);
  width: 80%;
  margin-top: 17%;
  padding-bottom: 10px;
  border-radius: 15px;
  font-size: large;
  font-weight: bold;
  background-color: rgba(22, 131, 151, 0.7);
}
