@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
html, main, body {
font-family: 'Lato', sans-serif;
background-color: #fcd12a;
z-index: 2;
}

.front,
.back {
  position: absolute;
  width: 100%;
}
.back {
  opacity: 0.1;
  min-width: 100%;
  min-height: 100%;
  background-image: url("https://tse1.mm.bing.net/th?id=OIP.SxMINsWHO_KOizmhGfFwNQHaHa&pid=Api&P=0&w=300&h=300");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
